<h2>Product Information</h2>
<div>
    <table id="jqGrid"></table>
    <div id="jqControls"></div>
</div>




@Styles.Render("~/Content/themes/base/css", "~/Content/css")
@section scripts{
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css">
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.js"></script>
<script src="~/Scripts/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/Script.js"></script>
}
